<footer>
  <span class="copyright">
    &copy; {{date format="YYYY"}}. All rights reserved. Built with <a href="https://github.com/ricardodejuan/theme-ghost-blog" target="_blank">Uno Zen</a> under <a href="https://ghost.org/" target="_blank">Ghost</a>.
  </span>
</footer>
